/* Simplebar CSS (change scroll color) */

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background-image: linear-gradient(orangered, crimson);
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.75;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Script CSS stuff */

.akito-iconClick {
  margin-right: 8px;
  order: 1;
  flex: "0 0 auto";
}

.akito-icon0 {
  order: 0 !important;
}

.akito-icon1 {
  order: 1 !important;
}

.akito-icon2 {
  order: 2 !important;
}

.akito-iconImage {
  width: 22px;
  height: 22px;
}

.akito-header {
  position: relative;
  height: 30px;
  z-index: 101;
  margin: 2px;
  background-image: linear-gradient(to right, tomato, red, tomato, red);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.akito-headerTitle {
  all: unset;
  font-family: "Lucida Sans Unicode" !important;
  font-size: 16px;
}

/* left, width, and height defined externally */
.akito-window {
  position: fixed;
  left: 3px;
  bottom: 29px;
  width: 800px;
  height: 400px;
  padding: 4px;
  background: white;
  border: 5px solid;
  border-image: 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, tomato, red, tomato, red);
  outline: solid black;
  font-family: "Lucida Sans Unicode" !important;
  z-index: 1000;
}

.akito-windowContent {
  all: initial;
  position: absolute;
  top: 42px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}

/* comes with built-in scroll? */
.akito-windowContentCompat {
  all: initial;
  position: absolute;
  top: 42px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  overflow-y: scroll;
}

.akito-footer {
  all: initial;
  border: solid black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 24px;
  z-index: 100;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-image: linear-gradient(to right, tomato, red, tomato, red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Lucida Sans Unicode" !important;
}

.akito-scriptInfo {
  all: initial;
  margin: 0;
  font-family: "Lucida Sans Unicode" !important;
  font-size: 16px;
  flex: 1
}

/* margin-left defined externally */
.akito-messageInfo {
  all: initial;
  margin: 0;
  font-family: "Lucida Sans Unicode" !important;
  font-size: 16px;
  text-align: right;
}

/* can't do unset cause stuff */
.akito-table {
  width: 100%;
  border-spacing: 4px;
  font-family: "Lucida Sans Unicode" !important;
  font-size: 14px;
}

.akito-black {
  color: black;
}

.akito-copyDiv {
  position: relative;
  left: 700px;
  top: 295px;
  width: 50px;
  height: 50px;
  padding: 6px;
  background-image: linear-gradient(to bottom right, red, tomato);
  border-radius: 16px;
}

.akito-copyClick {
  display: block;
}

.akito-copyImage {
  display: block;
  width: 38px;
  height: 38px;
}

.akito-settingsRow {
  height: 30px;
}

.akito-settingsButton {
  height: 24;
  width: 25%;
}

.akito-input {
  border: 1px solid black !important;
  box-sizing: unset !important;
  border-radius: unset !important;
  -webkit-border-radius: unset !important;
  font-size: unset !important;
  padding: unset !important;
  vertical-align: unset !important;
  width: unset !important;
  color: unset !important;
  box-shadow: unset !important;
  line-height: unset !important;
  height: unset !important;
}